/**
*
* lliure WAP
*
* @Versão 6.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/


.install-box{
	margin-top: 15px;
}

/*
.install-box h2{
	margin-bottom: 5px;
}

.install-box .log{
	background: #ddd;
	padding: 10px;
	border-radius: 10px;
}

.install-box .log .padding{
	width:100%;
	height: 300px;
	overflow: auto;
	font-size: 1.2em;
}

.install-log .alert:last-of-type{
	margin-bottom: 0;
}

.install-box form .fase{
	border-top: 1px dotted #888;
	padding-top: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;

}

.install-box form .fase:first-child{
	border-top: none;
}

.install-box form .msm{
	margin-bottom: 10px;
	color: #0a0;
	font-size: 1.2em;
	line-height: 130%;
}

.install-box form .msm.msmE{
	color: #a00;
}


.install-box form .msmex{
	color: #888;
	margin: -10px 0 10px;
	display: block;
	font-size: 9px;
}

.install-box form label{
	float: left;
	margin: 3px 5px 0 0;
}

.install-box form input{
	float: left;
	padding: 2px;
	font-size: 11px;
}

.install-box form  .botao{
	clear: both;
	margin-top: 10px;
}

*/