.select2-container{
    font-size: 14px;
    text-align: left;
    margin: 0 !important;
}

select + .select2-container{
    width: 100% !important;
}

.select2-container--default .select2-selection--single,
.select2-container .select2-selection--multiple,
.select2-container.select2-container--focus .select2-selection--multiple{
    border: 1px solid #CCC;
    width: 100%;
    min-height: 34px;
}

.select2-container--focus .select2-selection--multiple,
.select2-container--focus.select2-container--focus .select2-selection--multiple{
    box-shadow: 0 0 3px #ccc
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-search--inline .select2-search__field{
    height: 32px;
    line-height: 32px;
    margin: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 32px;
    line-height: 32px;
}

.select2-container .select2-selection--multiple .select2-selection__choice{
    margin-top: 6px;
    line-height: 18px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-left: 12px;
    padding-right: 12px;
}




.select2-tagUnica + .select2-container .select2-selection--multiple .select2-selection__choice{
    background: none;
    border: none;
    margin: 0;
    margin-right: .5em;
    padding: 0;
    height: 32px;
    line-height: 32px;
}

.select2-tagUnica + .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{
    position: absolute;
    top: 0;
    right: -8px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding-right: 6px;
}





.select2-tagLista + .select2-container .select2-selection--multiple .select2-selection__choice,
.select2-tagLista + .select2-container .select2-selection--multiple .select2-search{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    min-height: 32px;
    line-height: 32px;
    display: block;
    position: relative;
    float: none;
}

.select2-tagLista + .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{
    position: absolute;
    top: 0;
    right: -8px;
    min-height: 32px;
    line-height: 32px;
    font-size: 16px;
}

.select2-tagLista + .select2-container .select2-selection--multiple .select2-search .select2-search__field{
    width: 100% !important;
}