/**
*
* API Aplimo - lliure
*
* @Versão 9.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <jomadee@glliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/


#persona-navbar-collapse{
	display: none;
}

@media (min-width: 768px){
	#persona-navbar-collapse{
		display: inline;
	}
}



#apm-titulo{
	height: 34px;
	position: absolute;
	top: -34px;
	left: 0;
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
	z-index: 550;
}

#apm-titulo a{
	display: inline-block;
	line-height: 34px;
	padding: 0 15px;
	color: #fff;
	text-decoration: none;
}

.apm-container-position{
	display: block;

	margin: 0;
	padding: 0;

	margin-top: -40px;
	padding-top: 34px;

	margin-bottom: -25px;
}

.apm-container{

	margin: 0;
	padding: 0;

	width: 100%;
	min-height: calc(100vh - 34px);

	display: 					-ms-flexbox;
	display: 					-webkit-flex;
	display: 					flex;
	-webkit-flex-direction: 	row;
	-ms-flex-direction: 		row;
	flex-direction: 			row;
	-webkit-flex-wrap: 			nowrap;
	-ms-flex-wrap: 				nowrap;
	flex-wrap: 					nowrap;
	-webkit-justify-content: 	flex-start;
	-ms-flex-pack: 				start;
	justify-content: 			flex-start;
	-webkit-align-content: 		stretch;
	-ms-flex-line-pack: 		stretch;
	align-content: 				stretch;
	-webkit-align-items: 		stretch;
	-ms-flex-align: 			stretch;
	align-items: 				stretch;
}

.apm-container .apm-menu{
	position: relative;
	left: -100%;
	width: calc(100% - 65px);
	z-index: 400;
	background-color: #222222;
	min-height: calc(100vh - 34px);
	transition: left .3s;

	-webkit-flex: none;
	-ms-flex: none;
	flex: none;

	padding-bottom: 25px;
	margin-right: calc(65px - 100%);
}

.apm-menu-left-show .apm-container .apm-menu{
	left: 0;
}

.apm-container .apm-centro{
	position: relative;
	padding: 10px 15px 25px;

	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

@media (min-width: 768px){
	.apm-container .apm-menu{
		width: 210px;
		margin-right: 0;

		position: relative;
		left: auto;
		transition: none;

		-webkit-flex: 	0 0 210px;
		-ms-flex: 		0 0 210px;
		flex: 			0 0 210px;
	}
}


#apm-menu-left-background{
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;

	background-color: #000;
	opacity: .0;
	z-index: 375;

	pointer-events: none;

	transition: opacity .3s;
}


.apm-menu-left-show #apm-menu-left-background{
	opacity: .5;
	pointer-events: all;
}

@media (min-width: 768px){
	#apm-menu-left-background{
		display: none;
		pointer-events: none;
		z-index: -1;
	}
}


.apm-menu{}

.apm-menu-left-botao-x{
	position: absolute;
	top: 0;
	left: 100%;
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 0 !important;
	margin: 0;
	margin-left: 24px;
	margin-top: 11px;
	color: #fff !important;
	font-size: 1.7em;
}

.apm-menu-accordion{
	list-style: none;
	padding: 0;
}

.apm-menu-accordion .apm-menu-grupo-header{
	color: #fff;
	margin-top: 15px;
	padding: 2px 15px;
	font-size: 14px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.3);
}

.apm-menu-accordion .apm-menu-grupo-footer{
	margin-bottom: 15px;
}

.apm-menu-accordion .panel{
	border-radius: 0;
	background: none;
	border: none;
	box-shadow: none !important;
	margin: 0 !important;
	text-decoration: none;
	color: #fff;
}

.apm-menu-accordion .panel > a{
	color: inherit;
	text-decoration: none !important;
}

.apm-menu-accordion .panel > a > .panel-heading{
	background: none;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	border-radius: 0;
	line-height: 1.6em;
	position: relative;
}

.apm-menu-accordion .panel > a > .panel-heading > .panel-title{
	background: none;
	font-size: 13px;
	position: relative;
}

.apm-menu-accordion .panel > .panel-collapse > .list-group{
	padding: 5px 0;
	background: #2b2b2b;
}

.apm-menu-accordion li.list-group-item{
	border-radius: 0;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.apm-menu-accordion li.list-group-item > a{
	display: block;
	padding: 10px 15px;
	color: #fff;
	font-size: 13px;
	line-height: 1.6em;
	text-decoration: none;
}

.apm-menu-accordion > .panel .panel > a > .panel-heading,
.apm-menu-accordion .panel li.list-group-item > a{
	padding-top: 7px;
	padding-bottom: 7px;
}

.apm-menu-accordion > .panel li.list-group-item.apm-menu-item-active > a{
	font-weight: 600;
}
.apm-menu-accordion > .panel .panel > a > .panel-heading:not(:hover),
.apm-menu-accordion > .panel li.list-group-item.apm-menu-item-active > a:not(:hover){
	background: none !important;
}

.apm-menu-accordion li.list-group-item > a > .fa,
.apm-menu-accordion .apm-menu-grupo-header > div > .fa,
.apm-menu-accordion .panel > a > .panel-heading > .panel-title > .fa{
	font-size: 1.2em;
	width: 1em;
	text-align: center;
	margin-right: 6px;
	vertical-align: middle;
}

.apm-menu-accordion > li.panel,
.apm-menu-accordion > li.list-group-item{
	border-top: 1px solid rgba(255, 255, 255, 0.07) !important;
}

.apm-menu-accordion .apm-menu-grupo-header + li,
.apm-menu-accordion .apm-menu-grupo-footer + li,
.apm-menu-accordion > li.panel:nth-child(1),
.apm-menu-accordion > li.list-group-item:nth-child(1){
	border-top: none !important;
}

.apm-menu-accordion .panel > a > .panel-heading > .panel-title > .fa.apm-menu-sublist-icone{
	top: 50%;
	right: 0;
	margin: 0;
	position: absolute;
	transition: all .3s;
	transform: translateY(-50%) rotate(-90deg);
}

.apm-menu-accordion .panel > a.collapsed > .panel-heading > .panel-title > .fa.apm-menu-sublist-icone{
	transform: translateY(-50%);
}

@media (min-width: 768px){
	.apm-menu-accordion > .panel > a.apm-menu-item-active > .panel-heading:after,
	.apm-menu-accordion > li.list-group-item.apm-menu-item-active:after{
		content: '';
		position: absolute;
		right: 0;
		top: 50%;

		border-style: solid;

		border-color: transparent;
		border-right-color: #fff;
		border-width: 10px;
		border-left-width: 0;

		transform: translateY(-50%);
	}
}

#apm-h-menu{
	background: none;
	border: none;
	border-radius: 0;
	min-height: initial;
	border-bottom: 1px solid #eeeeee;
}

#apm-h-menu > .navbar-header > .navbar-toggle{
	margin-top: 0;
	margin-right: 0;
}

#apm-h-menu > .navbar-header > .navbar-brand{
	padding: 5px 0;
	height: auto;
	min-height: 32px;
	line-height: 1.35em;
	margin-bottom: 8px;
	margin-left: 5px;
}

#apm-h-menu > .apm-h-menu-itens-area{
	padding: 0;
	margin: 0;
	border: none;
	box-shadow: none;
}

#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav{
	padding: 0;
	margin: 0;
}

#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-form{
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-btn,
#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-form{
	margin-top: 0;
}

#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-btn{
	width: 100%;
}

#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-form > .text-right{
	display: block;
}

@media (min-width: 768px){
	#apm-h-menu.apm-h-menu-empty{
		display: none;
	}

	#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav.navbar-right,
	#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li + li{
		margin-left: 5px;
	}

	#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-btn{
		width: auto;
	}

	#apm-h-menu > .apm-h-menu-itens-area > .navbar-nav > li > div > .navbar-form > .text-right{
		display: inline-block;
	}
}