/**
*
* Newsmade | lliure 8.x
*
* @Versão 5
* @Pacote lliure
* @Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/
table.table tr:hover td{
	background: #e7e7e7;
	}
	
/***************/
.contBlog{
	padding: 0 0 0 220px;
	margin-top: 10px;
	position: relative;
	}
	
.contBlog .limitBlog{
	width: 100%;
	}
	
.menuBlog{
	position: absolute;
	left: 0;
	top: 0;
	width: 190px;
	}

	.menuBlog .explic{
		font-size: 12px;
		color: #999;
		line-height: 16px;
		}
	
.menuBlog ul {
	width: 190px;
	margin-bottom: 20px;
	border-bottom: 1px solid #777;
	}
	
.menuBlog ul li {
	clear: both;
	font-size: 1.2em;
	}
	
	.menuBlog ul li.top {
			padding: 5px 0 5px 8px;
			margin-bottom: 10px;
			font-weight: bold;
			background: #e7e7e7;
			border-bottom: 1px solid #777;
		}
			
	.menuBlog ul li a{
		display: block;
		margin: 0 0 5px 0;
		padding: 6px 0 5px 8px;
		}
		
		.menuBlog ul li a i{
			font-size: 1.2em;
			margin-right: 5px;
			}
		
		.menuBlog ul li a:hover{
			background: #e7e7e7;
			}
		
		.menuBlog ul li a img{
			float: left;
			margin: -2px 5px 0 0;
			}
			
	
.paginacao{
	margin-top: 10px;
	}
	
	.paginacao a{
		padding: 0 2px;
		}
	
	.paginacao a.atual{
		font-weight: bold;
		font-size: 14px;
		}
		

/**************************		BLOG	*/
.contBlog{
	
	}

	.contBlog .abas{
		border-bottom: 1px solid #777;
		margin-bottom: 4px;
		float: left;
		width: 100%;
		}
		
		.contBlog .abas .aba a{
			background: #ddd;
			margin: 0 5px 2px 0;
			float: left;
			padding: 8px 12px;
			border-radius: 5px 5px 0 0;
			color: #777;
			}
			
		.contBlog .abas .aba a:hover{
			color: #777;
			background: #ccc;
			}
			
		.contBlog .abas .aba.ativo a{
			margin: 2px 5px 0 0 ;
			background: #777;
			color: #fff;
			}


.menuBlog .topicos{
		background: #ddd;
		float: left;
		width: 190px;
		margin-bottom: 14px;
		position: absolute;
		top: 200px;
		left: 0;
		border-radius: 3px;		
		}
		
		.menuBlog  .topicos .padding{
			padding: 10px;
			}
			
		.menuBlog  .topicos .titulo{
			display: block;
			margin: 0 4px 4px 0;
			color: #777;
			font-weight: bold;
			}
			
		#relacionados{
			display: block;
			clear: both;
			height: 120px;
			padding: 0 4px;
			border: 1px solid #CCCCCC;
			background: #eee;
			overflow: auto;
			border-radius: 3px 3px 0 0;
			}
				
		#topicosForm{
			position: relative;
			clear: both;
			float: left; 
			margin: 3px 0 0;
			}
	
					
			form#topicosForm input{
				border: 1px solid #CCCCCC;
				float: left;
				width: 100%;
				margin: 0 0 4px;
				border-radius: 0 0 3px 3px;
				}
				
			form#topicosForm .botao{
				float: right;
				margin: 0 1px 0 10px;
				padding-bottom: 0;
				}
		
		#sugestao{
			position: absolute;
			top: 21px;
			left: 0px;
			font-size: 10px;
			background: #e7e7e7;
			border: 1px solid #ccc;
			display: none;
			width: 170px;
			}
			
			#sugestao a{
				display: block;
				padding: 5px 10px;
				}
				
				#sugestao a:hover{
					background: #d4d4d4;
					}

#formBlog .controles{
	position: absolute;
	left: 0px;
	top: 92px;
	width: 190px;  
	}
	
	#formBlog .controles .botao{
		margin-bottom: 10px;
		float: left;
		}

	#formBlog .controles .categoira{
		float: left;
		width: 100%;
		margin-bottom: 20px;
		}

		#formBlog .controles .categoira .padding{
			}

			#formBlog .controles .categoira .padding .titulo{
				display: block;    
				color: #777777;
				float: none;
				font-size: 1em;
				font-weight: bold;
				margin-bottom: 13px;
				}

			#formBlog .controles .categoira .padding select{
				float: left;
				width: 100%;
				height: 25px;
				}

	#formBlog .controles .public{
		float: left;
		margin: 10px 0 0 0;
		}
		#formBlog .controles .public button{
			background: #008;
			border-color: #008;
			margin: 0;
			}
			
	#formBlog .controles .atualizado{
		float: left;
		width: 100%;
		margin-top: 20px;
		}
		
	
	#formBlog #url_box{
		float: left;
		width: 100%;
		}
	
		#formBlog #url_box span.fras{
			float: left;
			width: 400px;
			}
	
			#formBlog #url_box #url{
				background: #ddd;
				padding: 0 8px;
				border-radius: 3px;
				color: #444;
				line-height: 30px;
				height: 30px;
				}
				
				
		#formBlog #url_box input{
			margin: 0;
			width: 200px;
			height: 20px;
			padding: 0;
			float: left;
			top: -5px;
			position: relative;
			display: none;
			}

.adereco{
	background: #E7E7E7;
	float: left;
	width: 100%;
	padding: 10px 0;
	}
	
	.adereco div{
		float: left;
		padding: 0 25px;
		border-left: 1px solid #ccc;
		}
		
		.adereco div:first-child{
			border: 0px;
			}
	
.ajax-gen_midias{
	height: 100%;
	} 
	
	.ajax-gen_midias .abas{
		width: 100%;
		float: left;
		margin-bottom: 5px;
		border-bottom: 2px solid #444;
		}
		
		.ajax-gen_midias .abas a{
			float: left;
			background: #ddd;
			color: #444;
			padding: 10px;
			margin-left: 5px;
			border-radius: 3px 3px 0 0;
			}
		
			.ajax-gen_midias .abas a.ativo{
				color: #ccc;
				background: #444;
				border-bottom: 1px solid #444;
				}
				
	.ajax-gen_midias .api-fotos{
		margin-top: 10px;
		}
				
	.ajax-gen_midias .api-fotos #api_fotos_galeria{
		width: 440px;
		}
		
	
	.ajax-gen_midias .albuns{
		float: left;
		margin: 0px 0 10px;
		clear: both;		
		}
	
		.ajax-gen_midias .album{
			float: left;
			margin: 3px;
			position: relative;
			cursor: pointer;
			padding: 3px;
			border: 1px solid #ccc;
			border-radius: 3px;
			}
			
		.ajax-gen_midias .album.checked{
			background: #ddd;
			}
			
			.ajax-gen_midias .album.novo a{
				color: #aaa;
				float: left;
				padding: 23px 0 ;
				text-align: center;
				font-weight: bold;
				vertical-align: middle;
				}
			
			.ajax-gen_midias .album .img{
				float: left;
				width: 70px;
				height: 70px;
				}		
				
			.ajax-gen_midias .album .dados{
				position: absolute;
				left: 5px;
				top: 5px;
				display: none;
				background: #f5f5f5;
				width: 175px;
				border-radius: 3px;
				z-index: 100;
				}

			.ajax-gen_midias .album:hover .dados{
				display: block;
				border: 1px solid #ccc;		
				}
				
				.ajax-gen_midias .album span.input{
					float: left;
					}
				
				.ajax-gen_midias .album div{
					float: right;
					width: 150px;
					}
				
					.ajax-gen_midias .album span.titulo{
						font-size: 11px;
						display: block;
						margin: 2px 0;
						}
						
					.ajax-gen_midias .album span.data{
						font-size: 10px;
						display: block;
						margin-bottom: 4px;					
						}
			
	.ajax-gen_midias .botao{
		margin-left: 0;
		}		
			
		.ajax-topicos{
			font-size: 12px;
			padding: 7px 0 0;
			}
		
		.ajax-topicos span{
			display: block;
			margin-bottom: 4px ;
			color: #333333;
			font-size: 11px;
			}
		
		.ajax-topicos img{
			width: 10px;
			height: 10px;
			background: url('img/xit.png') no-repeat;
			}
			
			.ajax-topicos a:hover img{
				background-position: -10px top;
				}

	.form .intro {
		height: 90px;
		min-height: 90px;
		}

	.form .texto {
		height: 400px;
		max-height: 600px;
		min-height: 300px;
		}

/**************************		MIDIAS	*/
.fotos{
	margin: 20px 0;
	float: left;
	width: 100%;
	}
	
.videos{
	clear: both;
	}
	
	.videos form{
		background: #DFDFDF;
		margin-bottom: 10px;
		float: left;
		width: 100%;
		border-radius: 3px;
		}
		
	.videos form div{
		padding: 10px 10px;
		float: left;
		}
		
		.videos form span{
			display: block;
			color: #7F7F7F;
			font-weight: bold;
			margin-bottom: 5px;
			}
			
		.videos form input{
			float: left;
			background: #e7e7e7;
			border: 1px solid #aaa;
			width: 240px;
			}
			
		.videos form span.botao{
			margin-bottom: 0;
			}

			.videos form span.botao button{
				padding: 6px 15px 5px;
				margin-left: 10px;
				}
			
		.videos form span.ex{
			font-weight: normal;
			font-size: 10px;
			padding-top: 5px;
			clear: both;
			display: block;
			}
		
	.videosMini{
		float: left;
		clear: both;
		}
	
	.videosMini div{
		float: left;
		margin: 4px;
		padding: 3px;
		border: 1px solid #D3D3D3;
		position: relative;
		border-radius: 3px;
		}
		
		.videosMini div .del{
			position: absolute;
			right: 6px;
			top: 6px;
			display: none;
			}
		
		.videosMini img{
			float: left;
			}

/***************************************	G_BLOGS */
.g_blogs{
	
	}
	
	.g_blogs .menu{
		float: left;
		width: 100%;
		margin-bottom: 10px;
		}