/**
*
* API Fileup - Plugin CMS
*
* @Versão 8.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/


.fileUpBloco{}

.fileUpBloco .fileUpBloco-btn-del{}

.fileUpBloco input[type="file"]{
	visibility: hidden !important;
	height: 0 !important;
	width: 0 !important;
	opacity: 0 !important;
	display: none !important;
}

.fileUpBloco.fileUpBlocoDel .fileUpBloco-input{
	color: rgba(0, 0, 0, .4);
	text-decoration: line-through;
}

.fileUpBloco .fileUpBloco-btn-up i.fa.fa-upload,
.fileUpBloco .fileUpBloco-btn-del i.fa.fa-trash-o{
	line-height: inherit !important;
	position: relative;
	vertical-align: top;
}

.fileUpBloco .fileUpBloco-btn-del .fa.fa-check{
	position: absolute;
	right:  -4px;
	bottom:  0;
	font-size: .75em;
	display: none;
}

.fileUpBloco.fileUpBlocoDel .fileUpBloco-btn-del .fa.fa-check{
	display: block;
}