/**
*
* lliure WAP
*
* @Versão 6.0
* @Pacote lliure
* @Entre em contato com o desenvolvedor <lliure@lliure.com.br> http://www.lliure.com.br/
* @Licença http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

/*
#jfboxFundo {
	position:absolute;
	left:0;
	top:0;
	z-index:5000;
	background: #000;
	display:none;
	}


#jfboxScroll{
	position: fixed;
	left:0;
	top:0;
	z-index:5100;
	background-color: rgba(0, 0, 0, 0);
	display: none;
	
	overflow: auto;	
	height: 100%;
	width: 100%;
	}
	
#jfboxMargin{
	position:absolute;
	display: none;
	z-index:100;
	text-align: left;
	padding: 15px 0;
	}
	
	#jfboxBar{
		background: #fff;
		border-radius: 5px;
		box-shadow: 0px 4px 16px #CCCCCC;
		padding: 20px;
		overflow-y: hidden;
		

		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
		
	#jfboxLoad{
		left:0;
		top:0;		
		width: 100%;
		height: 100%;
		}
		
#gifJfbox{
	position: absolute;
	top:0;
	left: 0;
	z-index:9000;
	color: #fff;
	}
	
#jfAviso{
	display: none;
	position:absolute;
	z-index:5002;
	width: 420px;	
	}
	
	#jfAviso .msm{
		background: #ccc; 
		box-shadow: 0 0 15px #ddd;
		padding: 20px;
		color: #717171;
		font-size: 12px;
		border-radius: 10px 10px 10px 10px;
		}

*/

#jfBoxModal{}

#jfBoxModal #jfBoxLoad{

	position: absolute;
	top: 35px;
	left: 0;
	right: 0;

	color: #fff;
	text-align: center;

	opacity: 0;
	transition: opacity .3s ease-out;

	pointer-events: none !important;
}

#jfBoxModal.loading #jfBoxLoad{
	opacity: 1;
}

#jfBoxModal #jfBoxLock{
	position: absolute;
	top: 0; bottom: auto;
	left: 0; right: auto;
	width: 0;
	height: 0;
	background-color: transparent;
	z-index: 1500;
}

#jfBoxModal[data-lock="on"] #jfBoxLock{
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
}

#jfBoxModal .modal-dialog{
	-webkit-transition: none !important;
	-moz-transition: 	none !important;
	-ms-transition: 	none !important;
	-o-transition: 		none !important;
	transition: 		none !important;
	transform: 			none !important;

	z-index: 1600;
}

#jfBoxModal .modal-dialog .modal-content{
	-webkit-transition: -webkit-transform .3s ease-out, opacity .3s ease-out;
	-o-transition: 		-o-transform 	  .3s ease-out, opacity .3s ease-out;
	transition: 		transform 		  .3s ease-out, opacity .3s ease-out;

	opacity: 0;
	min-height: inherit;

	-webkit-transform: 	translate(0, -20px);
	-ms-transform: 		translate(0, -20px);
	-o-transform: 		translate(0, -20px);
	transform: 			translate(0, -20px);
}

#jfBoxModal.load .modal-dialog .modal-content{
	opacity: 1;
	-webkit-transform: 	translate(0, 0);
	-ms-transform: 		translate(0, 0);
	-o-transform: 		translate(0, 0);
	transform: 			translate(0, 0);
}

#jfBoxModal .modal-dialog.modal-full{
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
	padding: 15px !important;
	pointer-events: none !important;
}

#jfBoxModal .modal-dialog.modal-full .modal-content{
	width: 100%  !important;
	min-height: 100%  !important;
	pointer-events: all  !important;
}